<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: head"></head>
<body>

	<header th:replace="layout/base :: header"></header>

	<div class="container py-4">

		<div class="card oscuro">
			<div class="card-header" th:text="${titulo}" style="color: white;"></div>
			<div class="card-body" style="color: white;">

				<h4 class="card-title" style="color: white;">
					<a th:href="@{/urbanizacion/form}" class="btn btn-primary">crear Urbanizacion</a>
				</h4>

				<table class="table table-striped">
					<thead style="color: white;">
						<tr>
							<th>id</th>
							<th>nombre</th>
							<th>distrito</th>
                            <th>provincia</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody style="color: white;">
						<tr th:each="item: ${urbanizaciones}" style="color: white;">
							<td th:text="${item.id}"></td>
							<td th:text="${item.nombre}"></td>
							<td th:text="${item.distrito}"></td>
                            <td th:text="${item.provincia}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/urbanizacion/form/} + ${item.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/urbanizacion/eliminar/} + ${item.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-4" style="align-content: center;">
						<nav></nav>
					</div>
					<div class="col-4" style="align-content: center;">
						<nav th:replace="paginator-nav :: paginator"></nav>
					</div>
				</div>
			</div>
		</div>

	</div>

	<footer th:replace="layout/base :: footer"></footer>
</body>
</html>