<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<a th:href="@{'/cliente/ver/' + ${ficha.cliente.id}}"
						class="btn btn-light btn-xs">&laquo; volver</a>
				</h4>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos del cliente'"></li>
					<li class="list-group-item" th:text="${ficha.cliente}"></li>
					<li class="list-group-item" th:text="${ficha.cliente.email}"></li>
				</ul>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos de la Ficha'"></li>
					<li class="list-group-item" th:text="'ID: ' + ${ficha.id}"></li>
					<li class="list-group-item"
						th:text="'Fecha Alquiler: ' + ${ficha.fechaAlquiler}"></li>
					<li class="list-group-item"
						th:text="'Fecha Entrega: ' + ${ficha.fechaEntrega}"></li>
					<li class="list-group-item"
						th:text="'Costo: ' + ${ficha.costo}"></li>
					<li class="list-group-item"
						th:text="'Mora: ' + ${ficha.mora}"></li>
					<li class="list-group-item"
						th:text="'Comentarios: ' + ${ficha.comentarios}"></li>
					<li class="list-group-item"
						th:text="'Devuelto: ' + ${ficha.devuelto}"></li>
				</ul>
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(ficha.items)}"
					th:text="'No hay líneas para la ficha de' + ${ficha.cliente.nombre}"></div>

				<table th:if="${not #lists.isEmpty(ficha.items)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>Video</th>
							<th>Año</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
							<th>Ver Video</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${ficha.items}">
							<td th:text="${linea.video.titulo}"></td>
							<td th:text="${linea.video.anio}"></td>
							<td th:text="${linea.video.precio}"></td>
							<td th:text="${linea.video.cantidad}"></td>
							<td th:text="${linea.video.calcularImporte()}"></td>
							<td><a  
								th:href="@{/video/ver/} + ${linea.video.id}"> <button class="btn btn-success btn-xs"> Ver</button> </a></td>
						</tr>
					</tbody>

				</table>

				<h5 class="float-right">
					Gran Total <span th:text="${ficha.costo}"
						class="badge badge-secondary"></span>
				</h5>

				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Observaciones</div>
					<div class="card-body">
						<p class="card-text" th:text="${ficha.comentarios}"
							th:if="${not #strings.isEmpty(ficha.comentarios)}"></p>
						<h4 class="card-title"
							th:if="${#strings.isEmpty(ficha.comentarios)}"
							th:text="'No tiene comentarios'"></h4>
					</div>
				</div>

				<a th:href="@{'/ver/' + ${ficha.cliente.id}}"
					class="btn btn-light btn-xs">&laquo; volver</a>

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>