<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: head"></head>
<body>

<header th:replace="layout/base :: header"></header>

<div class="container py-4">


    <div class="card oscuro">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">


            <a th:href="@{'/cliente/ver/' + ${ficha.cliente.id}}">
                <button class="btn btn-success btn-xs"> Volver</button>
            </a>

            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary"
                    th:text="'Datos del cliente'"></li>
                <li class="list-group-item list-group-item-action list-group-item-primary"
                    th:text="${ficha.cliente}"></li>
                <li class="list-group-item list-group-item-action list-group-item-primary"
                    th:text="${ficha.cliente.email}"></li>
            </ul>

            <ul class="list-group my-2 oscuro">
                <li class="list-group-item list-group-item-success"
                    th:text="'Datos de la Ficha'"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'ID: ' + ${ficha.id}"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'Fecha Alquiler: ' + ${ficha.fechaAlquiler}"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'Fecha Entrega: ' + ${ficha.fechaEntrega}"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'Costo: ' + ${ficha.costo}"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'Mora: ' + ${ficha.mora}"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'Comentarios: ' + ${ficha.comentarios}"></li>
                <li class="list-group-item list-group-item-action list-group-item-success"
                    th:text="'Devuelto: ' + ${ficha.devuelto}"></li>
            </ul>
            <div class="alert alert-info my-4"
                 th:if="${#lists.isEmpty(ficha.items)}"
                 th:text="'No hay líneas para la ficha de' + ${ficha.cliente.nombre}"></div>

            <table th:if="${not #lists.isEmpty(ficha.items)}"
                   class="table table-bordered table-striped my-4">
                <thead class="thead-dark">
                <tr>
                    <th>Video</th>
                    <th>Año</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Ver Video</th>
                </tr>
                </thead>
                <tbody class="oscuro">
                <tr th:each="linea: ${ficha.items}" class="oscuro">
                    <td th:text="${linea.video.titulo}" class="oscuro"></td>
                    <td th:text="${linea.video.anio}" class="oscuro"></td>
                    <td th:text="${linea.video.precio}" class="oscuro"></td>
                    <td th:text="${linea.video.cantidad}" class="oscuro"></td>
                    <td th:text="${linea.video.calcularImporte()}" class="oscuro"></td>
                    <td><a
                            th:href="@{/video/ver/} + ${linea.video.id}">
                        <button class="btn btn-success btn-xs"> Ver</button>
                    </a></td>
                </tr>
                </tbody>

            </table>

            <h5 class="float-right">
                Gran Total <span th:text="${ficha.costo}"
                                 class="badge badge-secondary"></span>
            </h5>

            <div class="card oscuro border-info mb-4" style="max-width: 20rem;">
                <div class="card-header">Observaciones</div>
                <div class="card-body">
                    <p class="card-text" th:text="${ficha.comentarios}"
                       th:if="${not #strings.isEmpty(ficha.comentarios)}"></p>
                    <h4 class="card-title"
                        th:if="${#strings.isEmpty(ficha.comentarios)}"
                        th:text="'No tiene comentarios'"></h4>
                </div>
            </div>

            <a th:href="@{'/ver/' + ${ficha.cliente.id}}"
               class="btn btn-light btn-xs">&laquo; volver</a>

        </div>
    </div>

</div>
<footer th:replace="layout/base :: footer"></footer>
</body>
</html>