<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/video/form}" class="btn btn-primary">crear Video</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
                            <th>titulo</th>
							<th>Año</th>
							<th>cantidad</th>
                            <th>mes</th>
							<th>precio</th>
                            <th>trailer</th>
                            <th>idioma</th>
                            <th>formato</th>
							<th>genero</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${videos}">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/video/ver/} + ${item.id}" th:text="${item.id}"></a></td>
							<td th:text="${item.titulo}"></td>
							<td th:text="${item.anio}"></td>
                            <td th:text="${item.cantidad}"></td>
                            <td th:text="${item.mes}"></td>
							<td th:text="${item.precio}"></td>
                            <td th:text="${item.trailer}"></td>
                         
							
						    <td  th:text="${item.idioma?.idioma}" ></td>
                           <td th:text="${item.formato?.formato}"></td>
							<td th:text="${item.genero?.genero}"></td>  
							
							 
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/video/form/} + ${item.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/video/eliminar/} + ${item.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>