<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: head"></head>

<body>

	<header th:replace="layout/base :: header"></header>

	<div class="container py-4">

		<div class="card oscuro"  >
			<div class="card-header" th:text="${titulo}" style="color: white;"></div>
			<div class="card-body"style="color: white;">

				<h4 class="card-title" style="color: white;">
					<a th:href="@{/cliente/form}" class="btn btn-success" style="color: white;">Crear Cliente</a>
				</h4>

				<table class="table table-striped">
					<thead style="color: white;">
						<tr>
							<th>Ver Ficha</th>
							<th>nombre</th>
							<th>apellido</th>
                            <th>direccion</th>
							<th>telefono</th>
                            <th>urbanizacion</th>
							<th>foto</th>
							<th>crear ficha</th>
							<th>editar</th>
							<th>eliminar</th>
						</tr>
					</thead>
					<tbody style="color: white;">
						<tr th:each="cliente: ${clientes}" style="color: white;">
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/cliente/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}" >  </td>
							<td th:text="${cliente.apellido}"></td>
                            <td th:text="${cliente.direccion}"></td>
                            <td th:text="${cliente.telefono}"></td>
                            <td  > [[${cliente.urbanizacion.nombre}]]-[[${cliente.urbanizacion.distrito}]] </td>
							
						<td th:if="${cliente?.foto}" style="max-width: 180px;"> <img th:if="${#strings.length(cliente.foto) > 0}"
							class="img-thumbnail rounded float-left" style="max-width: 100%;"
							th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}" />
						 </td>
						<td th:unless="${cliente?.foto}" th:text="Sin Foto"> 
							
							  </td>  
							<td><a class="btn btn-success btn-sm"
								th:href="@{'/ficha/form/' + ${cliente.id}}"
								th:text="'Crear Ficha'"></a></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/cliente/formE/} + ${cliente.id}" th:text="'editar'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/cliente/eliminar/} + ${cliente.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/base :: footer"></footer>
	
</body>
</html>