<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: head"></head>

<link rel="stylesheet" th:href="@{/css/slider.css}">
<link rel="stylesheet" th:href="@{/css/disney.css}">
<link rel="stylesheet" th:href="@{/css/film.css}">

<body>

	<header th:replace="layout/base :: header"></header>

    <div class="container-general">
    
        <!-- Slider Films -->
        
        <div class="slider-films">
            <div class="slider center">     
              
               <div class="slide">
                <div class="cl">
                    <img src="https://i.imgur.com/oOZB19w.jpg" alt="">
                  </div></a>
                </div>
                <div class="slide">
                  <div class="cl">
                    <img src="https://i.imgur.com/r76kHRX.jpg" alt="">
                  </div>
                </div>
              <div class="slide">
                  <div class="cl">
                    <img src="https://i.imgur.com/TNP3OUM.jpg" alt=""></h3>
                  </div>
                </div>   
            </div>
        </div>
        
        <!-- Container Disney-->
        <div class="main disney-rows">
          <div class="grid">
             <div class="card-disney">
              <div class="item-border">
                <img th:src="@{/img/disney/dc.png}" class="item-image">
                <img th:src="@{/img/disney/dc2.gif}" class="item-image hover-image">
              </div>
            </div>
            <div class="card-disney">
              <div class="item-border">
                <img th:src="@{/img/disney/pixar-txt.png}"  class="item-image">
                <img th:src="@{/img/disney/pixar.gif}" class="item-image hover-image">
              </div>
            </div>
            <div class="card-disney">
              <div class="item-border">
                <img th:src="@{/img/disney/marvel-txt.png}" class="item-image">
                <img th:src="@{/img/disney/marvel.gif}" class="item-image hover-image">
              </div>
            </div>
            <div class="card-disney">
              <div class="item-border">
                <img th:src="@{/img/disney/star-txt.png}" class="item-image">
                <img th:src="@{/img/disney/starwars.gif}" class="item-image hover-image">
              </div>
            </div>
            <div class="card-disney">
              <div class="item-border">
                <img th:src="@{/img/disney/national-txt.png}" class="item-image">
                <img th:src="@{/img/disney/national.gif}" class="item-image hover-image">
              </div>
            </div>
            

          </div>
        </div>
        <!-- Films -->
        <div class="main movies-rows">
        
            <h3 class="list-title">Recomendaciones Para ti</h3>
            <div class="slider responsive">
              <div class="card"><h3><img th:src="@{/img/portadas/recommed/img1.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/recommed/img2.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/recommed/img3.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/recommed/img4.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/recommed/img5.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/recommed/img6.jpg}"></h3></div>
            </div>
            
            <h3 class="list-title">Universo de Marvel</h3>
            <div class="slider responsive">
     
              <div class="card"><h3><img th:src="@{/img/portadas/marvel/img1.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/marvel/img2.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/marvel/img3.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/marvel/img4.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/marvel/img5.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/marvel/img6.jpg}"></h3></div>
             
            </div>
            <h3 class="list-title">Universo de XMEN</h3>
            <div class="slider responsive">
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img1.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img2.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img3.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img4.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img5.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img6.jpg}"></h3></div>
              <div class="card"><h3><img th:src="@{/img/portadas/xmen/img7.jpg}"></h3></div>
              
            </div>
          </div>
        </div>
    
	<footer th:replace="layout/base :: footer"></footer>
</body>
</html>